@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'Roboto Mono', monospace;
}


body{
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41,46,73));
}



